In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Load the dataset 
data = pd.read_csv('credit_risk_dataset.csv')

data.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [3]:
# Display column names and count
print("Column Names:")
print(list(data.columns))
print(f"Number of Columns: {len(data.columns)}")

Column Names:
['person_age', 'person_income', 'person_home_ownership', 'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt', 'loan_int_rate', 'loan_status', 'loan_percent_income', 'cb_person_default_on_file', 'cb_person_cred_hist_length']
Number of Columns: 12

In [ ]:
# Display dataset information 
print("\nDataset Info:")
print(data.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB
None

In [5]:
# Summary statistics for numerical columns
print("\nSummary Statistics for Numerical Columns:")
print(data.describe())

Summary Statistics for Numerical Columns:
         person_age  person_income  person_emp_length     loan_amnt  \
count  32581.000000   3.258100e+04       31686.000000  32581.000000
mean      27.734600   6.607485e+04           4.789686   9589.371106
std        6.348078   6.198312e+04           4.142630   6322.086646
min       20.000000   4.000000e+03           0.000000    500.000000
25%       23.000000   3.850000e+04           2.000000   5000.000000
50%       26.000000   5.500000e+04           4.000000   8000.000000
75%       30.000000   7.920000e+04           7.000000  12200.000000
max      144.000000   6.000000e+06         123.000000  35000.000000

       loan_int_rate   loan_status  loan_percent_income  \
count   29465.000000  32581.000000         32581.000000
mean       11.011695      0.218164             0.170203
std         3.240459      0.413006             0.106782
min         5.420000      0.000000             0.000000
25%         7.900000      0.000000             0.090000
50%        10.990000      0.000000             0.150000
75%        13.470000      0.000000             0.230000
max        23.220000      1.000000             0.830000

       cb_person_cred_hist_length
count                32581.000000
mean                     5.804211
std                      4.055001
min                      2.000000
25%                      3.000000
50%                      4.000000
75%                      8.000000
max                     30.000000

In [ ]:
# Handle outliers
# Cap person_emp_length at 50 years 
emp_length_cap = 50
data['person_emp_length'] = data['person_emp_length'].clip(upper=emp_length_cap)

# Cap person_age at 90 years
age_cap = 90
data['person_age'] = data['person_age'].clip(upper=age_cap)

# Summary statistics after outlier handling
print("\nSummary Statistics for Numerical Columns (After Outlier Handling):")
print(data.describe())

Summary Statistics for Numerical Columns (After Outlier Handling):
         person_age  person_income  person_emp_length     loan_amnt  \
count  32581.000000   3.258100e+04       31686.000000  32581.000000
mean      27.727479   6.607485e+04           4.785079   9589.371106
std        6.251034   6.198312e+04           4.050721   6322.086646
min       20.000000   4.000000e+03           0.000000    500.000000
25%       23.000000   3.850000e+04           2.000000   5000.000000
50%       26.000000   5.500000e+04           4.000000   8000.000000
75%       30.000000   7.920000e+04           7.000000  12200.000000
max       90.000000   6.000000e+06          50.000000  35000.000000

       loan_int_rate   loan_status  loan_percent_income  \
count   29465.000000  32581.000000         32581.000000
mean       11.011695      0.218164             0.170203
std         3.240459      0.413006             0.106782
min         5.420000      0.000000             0.000000
25%         7.900000      0.000000             0.090000
50%        10.990000      0.000000             0.150000
75%        13.470000      0.000000             0.230000
max        23.220000      1.000000             0.830000

       cb_person_cred_hist_length
count                32581.000000
mean                     5.804211
std                      4.055001
min                      2.000000
25%                      3.000000
50%                      4.000000
75%                      8.000000
max                     30.000000

In [8]:
# Check for missing values
print("\nMissing Values:")
missing_values = data.isnull().sum()
print(missing_values)

Missing Values:
person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [19]:
# Handle missing values
# Impute numerical columns with median
numerical_cols = ['person_emp_length', 'loan_int_rate']
for col in numerical_cols:
    data[col] = data[col].fillna(data[col].median())
    
# Verify no missing values remain
print("\nMissing Values After Imput:")
print(data.isnull().sum())

Missing Values After Imput:
person_age                     0
person_income                  0
person_emp_length              0
loan_amnt                      0
loan_int_rate                  0
loan_status                    0
loan_percent_income            0
cb_person_cred_hist_length     0
person_home_ownership_OTHER    0
person_home_ownership_OWN      0
person_home_ownership_RENT     0
loan_intent_EDUCATION          0
loan_intent_HOMEIMPROVEMENT    0
loan_intent_MEDICAL            0
loan_intent_PERSONAL           0
loan_intent_VENTURE            0
loan_grade_B                   0
loan_grade_C                   0
loan_grade_D                   0
loan_grade_E                   0
loan_grade_F                   0
loan_grade_G                   0
cb_person_default_on_file_Y    0
dtype: int64

In [12]:
# Check unique values in categorical columns for one-hot encoding
categorical_cols = ['person_home_ownership', 'loan_intent', 'loan_grade', 'cb_person_default_on_file']
print("\nUnique Values in Categorical Columns:")
for col in categorical_cols:
    print(f"{col}: {data[col].nunique()} unique values - {data[col].unique()}")

Unique Values in Categorical Columns:
person_home_ownership: 4 unique values - ['RENT' 'OWN' 'MORTGAGE' 'OTHER']
loan_intent: 6 unique values - ['PERSONAL' 'EDUCATION' 'MEDICAL' 'VENTURE' 'HOMEIMPROVEMENT'
 'DEBTCONSOLIDATION']
loan_grade: 7 unique values - ['D' 'B' 'C' 'A' 'E' 'F' 'G']
cb_person_default_on_file: 2 unique values - ['Y' 'N']

In [13]:
# One-hot encode categorical variables
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

In [20]:
# Display new column names after oget dummies
print("\nColumn Names After Get Dummies:")
print(list(data.columns))
print(f"Number of Columns After Get Dummies: {len(data.columns)}")

Column Names After Get Dummies:
['person_age', 'person_income', 'person_emp_length', 'loan_amnt', 'loan_int_rate', 'loan_status', 'loan_percent_income', 'cb_person_cred_hist_length', 'person_home_ownership_OTHER', 'person_home_ownership_OWN', 'person_home_ownership_RENT', 'loan_intent_EDUCATION', 'loan_intent_HOMEIMPROVEMENT', 'loan_intent_MEDICAL', 'loan_intent_PERSONAL', 'loan_intent_VENTURE', 'loan_grade_B', 'loan_grade_C', 'loan_grade_D', 'loan_grade_E', 'loan_grade_F', 'loan_grade_G', 'cb_person_default_on_file_Y']
Number of Columns After Get Dummies: 23

In [15]:
# Explore correlations (for Visualization Lead)
print("\nCorrelation Matrix (Top Correlations with loan_status):")
correlation_matrix = data.corr()
print(correlation_matrix['loan_status'].sort_values(ascending=False))

Correlation Matrix (Top Correlations with loan_status):
loan_status                    1.000000
loan_percent_income            0.379366
loan_int_rate                  0.319360
loan_grade_D                   0.318998
person_home_ownership_RENT     0.238430
loan_grade_E                   0.180122
cb_person_default_on_file_Y    0.179141
loan_amnt                      0.105376
loan_grade_F                   0.101841
loan_grade_G                   0.082306
loan_intent_MEDICAL            0.056595
loan_intent_HOMEIMPROVEMENT    0.036607
person_home_ownership_OTHER    0.012543
loan_grade_C                  -0.013031
cb_person_cred_hist_length    -0.015529
loan_intent_PERSONAL          -0.021094
person_age                    -0.021363
loan_intent_EDUCATION         -0.055348
loan_intent_VENTURE           -0.078274
person_emp_length             -0.084811
loan_grade_B                  -0.092190
person_home_ownership_OWN     -0.101960
person_income                 -0.144449
Name: loan_status, dtype: float64

In [17]:
data.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,22,59000,50.0,35000,16.02,1,0.59,3,False,False,...,False,True,False,False,False,True,False,False,False,True
1,21,9600,5.0,1000,11.14,0,0.10,2,False,True,...,False,False,False,True,False,False,False,False,False,False
2,25,9600,1.0,5500,12.87,1,0.57,3,False,False,...,True,False,False,False,True,False,False,False,False,False
3,23,65500,4.0,35000,15.23,1,0.53,2,False,False,...,True,False,False,False,True,False,False,False,False,False
4,24,54400,8.0,35000,14.27,1,0.55,4,False,False,...,True,False,False,False,True,False,False,False,False,True

In [18]:
# Display dataset information (replicating provided data.info())
print("\nDataset Info:")
print(data.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   person_age                   32581 non-null  int64
 1   person_income                32581 non-null  int64
 2   person_emp_length            32581 non-null  float64
 3   loan_amnt                    32581 non-null  int64
 4   loan_int_rate                32581 non-null  float64
 5   loan_status                  32581 non-null  int64
 6   loan_percent_income          32581 non-null  float64
 7   cb_person_cred_hist_length   32581 non-null  int64
 8   person_home_ownership_OTHER  32581 non-null  bool
 9   person_home_ownership_OWN    32581 non-null  bool
 10  person_home_ownership_RENT   32581 non-null  bool
 11  loan_intent_EDUCATION        32581 non-null  bool
 12  loan_intent_HOMEIMPROVEMENT  32581 non-null  bool
 13  loan_intent_MEDICAL          32581 non-null  bool
 14  loan_intent_PERSONAL         32581 non-null  bool
 15  loan_intent_VENTURE          32581 non-null  bool
 16  loan_grade_B                 32581 non-null  bool
 17  loan_grade_C                 32581 non-null  bool
 18  loan_grade_D                 32581 non-null  bool
 19  loan_grade_E                 32581 non-null  bool
 20  loan_grade_F                 32581 non-null  bool
 21  loan_grade_G                 32581 non-null  bool
 22  cb_person_default_on_file_Y  32581 non-null  bool
dtypes: bool(15), float64(3), int64(5)
memory usage: 2.5 MB
None

In [16]:
# Save preprocessed data for further use 
data.to_csv('preprocessed_credit_risk.csv', index=False)